<%= flash_messages %>
<div class="login-chapter">
    <div class="uk-container">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
           <%= devise_error_messages! %>
          <fieldset class="uk-fieldset uk-position-center">

              <legend class="uk-legend">Реєстрація</legend>

              <div class="uk-margin">
                  <%= f.email_field :email, :placeholder => 'Email', autofocus: true, class: "uk-input", :required => true %>
              </div>

              <div class="uk-margin">
                  <%= f.password_field :password, :placeholder => 'Пароль', autocomplete: "off", class: "uk-input", :required => true %>
                  <% if @minimum_password_length %>
                  <em>(мінімум <%= @minimum_password_length %> символів )</em>
                  <% end %><br />
              </div>

              <div class="uk-margin">
  
                <%= f.password_field :password_confirmation, :placeholder => 'Підтвердіть пароль', autocomplete: "off", class: "uk-input" %>

              </div>

              <%= f.submit "Зареєструватись", class: "uk-button uk-button-primary" %>

          </fieldset>
        <% end %>

        <%#= render "devise/shared/links" %>
    <div>
</div>