<div class="uk-section uk-section-default special-info-chapter">
    <div class="uk-container">
        <div class="uk-grid-large uk-child-width-expand@s" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h2>ДОКУМЕНТИ</h2>
                    <div class="uk-margin">
                        <form class="uk-search uk-search-default">
                            <span class="uk-search-icon-flip" uk-search-icon></span>
                            <input class="uk-search-input" type="search" placeholder="ПОШУК В РОЗДІЛІ">
                        </form>
                    </div>
                    <dl class="uk-description-list uk-description-list-divider">

                    <% @documents.each do |document| %>
                            <% if !document.actioner_access? %>

                                <dt><%= document.name %></dt>
                                <dd><%= document.description %></dd>

                            <% end %>

                            <% if user_signed_in? %>
                                <% if document.actioner_access? %>

                                    <dt><%= document.name %></dt>
                                    <dd><%= document.description %></dd>

                                <% end %>
                            <% end %>
                        <% end %>


                        <dt>Description term</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
                        <dt>Description term</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
                        <dt>Description term</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
                        <dt></dt>
                    </dl>
                    <ul uk-accordion>
                        <li class="uk-open">
                            <a class="uk-accordion-title" href="#">БІЛЬШЕ ДОКУМЕНТІВ</a>
                            <div class="uk-accordion-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h2>ОСОБЛИВА ІНФОРМАЦІЯ</h2>
                    <div class="uk-margin">
                        <form class="uk-search uk-search-default">
                            <span class="uk-search-icon-flip" uk-search-icon></span>
                            <input class="uk-search-input" type="search" placeholder="ПОШУК В РОЗДІЛІ">
                        </form>
                    </div>
                    <dl class="uk-description-list uk-description-list-divider">
                     <% @specialinfos.each do |specialinfo| %>
                        <% if !specialinfo.actioner_access? %>

                            <dt><%= specialinfo.name %></dt>
                            <dd><%= specialinfo.description %></dd>

                        <% end %>

                        <% if user_signed_in? %>
                            <% if specialinfo.actioner_access? %>

                                <dt><%= specialinfo.name %></dt>
                                <dd><%= specialinfo.description %></dd>

                            <% end %>
                        <% end %>
                    <% end %>

                        <dt>Description term</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
                        <dt>Description term</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
                        <dt>Description term</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
                        <dt></dt>
                    </dl>
                    <ul uk-accordion>
                        <li>
                            <a class="uk-accordion-title" href="#">БІЛЬШЕ ІНФОРМАЦІЇ</a>
                            <div class="uk-accordion-content">
                                          <dl class="uk-description-list uk-description-list-divider">
                                            <dt>Description term</dt>
                                            <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
                                            <dt>Description term</dt>
                                            <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
                                            <dt>Description term</dt>
                                            <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
                                            <dt></dt>
                                        </dl>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h2>ЗВІТИ</h2>
                    <div class="uk-margin">
                        <form class="uk-search uk-search-default">
                            <span class="uk-search-icon-flip" uk-search-icon></span>
                            <input class="uk-search-input" type="search" placeholder="ПОШУК В РОЗДІЛІ">
                        </form>
                    </div>
                    <dl class="uk-description-list uk-description-list-divider">

                        <% @reports.each do |report| %>
                            <% if !report.actioner_access? %>

                                <dt><%= report.name %></dt>
                                <dd><%= report.description %></dd>

                            <% end %>

                            <% if user_signed_in? %>
                                <% if report.actioner_access? %>

                                    <dt><%= report.name %></dt>
                                    <dd><%= report.description %></dd>

                                <% end %>
                            <% end %>
                        <% end %>


                        <dt>Description term</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
                        <dt>Description term</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
                        <dt>Description term</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
                        <dt></dt>
                    </dl>
                    <ul uk-accordion>
                        <li>
                            <a class="uk-accordion-title" href="#">БІЛЬШЕ ЗВІТІВ</a>
                            <div class="uk-accordion-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

<!--
    <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Type</th>
    <th scope="col">Access</th>
      <th scope="col">File</th>
      <th scope="col">Created at</th>
    </tr>
  </thead>
  <tbody>
    <%# @documents.each do |document| %>
    <%# if document.access? %>
    <%# if document[:access] == "" %>
        <tr>
        <th scope="row"></th>
        <td><%#= document.name %> </td>
        <td><%#= document.description %></td>
        <td><%#= document.document_type %></td>
        <td><%#= document.access %></td>
        <td><%#= document.uploaded_file %></td>
        <td><%#= document.created_at %></td>
      </tr>
    <%# end %>      
 <%# end %>
  <%# end %>
 <%#= link_to 'Destroy', document, method: :delete %>
  </tbody>
</table>
-->

    </div>

</div>
