<h1>All Documents</h1>

<%= form_tag(documents_path, method: :get) do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search' %>
<% end %>



<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Type</th>
    <th scope="col">Access</th>
      <th scope="col">File</th>
      <th scope="col">Created at</th>
    </tr>
  </thead>
  <tbody>
    <% @documents.each do |document| %>

        <tr>
        <th scope="row"></th>
        <td><%= document.name %> </td>
        <td><%= document.description %></td>
        <td><%= document.document_type %></td>
        <td><%= document.actioner_access %></td>
        <td><%= document.uploaded_file %></td>
        <td><%= document.created_at %></td>
      </tr>

 
  <% end %>
 <%#= link_to 'Destroy', document, method: :delete %>
  </tbody>
</table>




