<h1>Add post</h1>

<%= form_for :document, url: documents_path do |f| %>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <div>
        <%= f.label :body %>
        <%= f.text_area :body %>
    </div>
    <div>
        <%= f.submit %>
    </div>
<% end %>