<%= form_with(model: specialinfo, local: true) do |form| %>
  <%# if specialinfo.errors.any? %>
    <div id="error_explanation">
      <h2><%#= pluralize(specialinfo.errors.count, "error") %> prohibited this specialinfo from being saved:</h2>

      <ul>
      <%# specialinfo.errors.full_messages.each do |message| %>
        <li><%#= message %></li>
      <%# end %>
      </ul>
    </div>
  <%# end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :document_type %>
    <%= form.text_field :document_type %>
  </div>

  <div class="field">
    <%= form.label :actioner_access %>
    <%= form.check_box :actioner_access %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
