<p id="notice"><%= notice %></p>

<h1>Reports finally!</h1>

    <%= @reports.each do |report| %>
      <ul>
        <li><%= report.title %></li>
        <li><%#= report.document %></li>
        <li><%#= report.content %></li>
        <li><%= link_to 'Show', report %></li>
        <li><%= link_to 'Edit', edit_report_path(report) %></li>
        <li><%= link_to 'Destroy', report, method: :delete %></li>
      </ul>
    <% end %>


<%= link_to 'New Report', new_report_path %>
