<h1>New Report</h1>

<%= form_for :report, url: reports_path do |f| %>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <div>
        <%= f.label :file %>
        <%= f.text_field :file %>
    </div>
    <div>
        <%= f.label :file %>
        <%= f.text_area :file %>
    </div>
    <div>
        <%= f.submit %>
    </div>

<% end %>

<%#= render 'form', report: @report %>

<%= link_to 'Back', reports_path %>
