<!DOCTYPE html>
<html>
  <head>
    <title>SGH</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
  </head>

  <body>
 
  <%#= render partial: 'partials/header_block' %>
<%#= render :partial => "reports/index", :locals => { :report => @report } %>
<%#= render 'reports/breadcrumb', category: @category %>
  
  <%= yield %>
  <%#= render partial: 'documents/fulldocs' %>
  <%#= render :template => 'documents/index' %> 
    <%#= render :template => 'reports/index' %> 
  </body>
</html>
